.leftchat__outer {
  box-sizing: border-box;
  padding-left: 78px;
  border-right: 2px solid #f5f5f5;
}

.leftchat__top__heading {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.leftchat__top {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  padding: 15px 30px 10px 30px;
  border-bottom: 2px solid #f5f5f5;
}

.leftchat__top__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftchat__top__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftchat__list {
  list-style: none;
  padding: 15px 12px;

  margin: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  flex-direction: column;
}

.leftchat__list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftchat__searchbar {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.leftchat__chat {
  cursor: pointer;
}
.leftchat__searchbar > input {
  height: 2.5rem;
  width: 15rem;
  border: none;
  background-color: inherit;
  border-radius: inherit;
}
.leftchat__top__left__unreadMessages {
  margin-left: 5px;
  font-size: small;
  font-weight: 500;
  padding: 3px 8px;

  border-radius: 43%;
  background-color: #f5f5f5;
}
#leftchat__expandIcon {
  font-size: medium;
}
#leftchat__plusIcon {
  padding: 8px;
  background-color: #615ef0;
  border-radius: 50%;
  color: white;
  font-size: 1.6rem;
}

#leftchat__searchIcon {
  font-size: 20px;
  color: gray;
  margin-right: 7px;
  margin-left: 8px;
}

.leftchat__icon {
  font-size: 20px;
  color: gray;
  margin-right: 7px;
  margin-left: 8px;
}

.leftchat__groupHeading {
  margin: 0;
  margin-bottom: 10px;
}
.leftchat__label {
  margin-top: 20px;
  margin-bottom: 6px;
}

.leftchat__groupHeading {
  margin: 0;
  margin-bottom: 10px;
}
.leftchat__label {
  margin-top: 20px;
  margin-bottom: 6px;
}

.leftchat__chatcard {
  margin-top: 22px;
  display: flex;
  width: 100%;
}
.leftchat__chatcard__left {
  height: 45px;
  width: 40px;
  border-radius: 9px;
  background-color: aqua;
  margin-right: 12px;
}
.leftchat__chatcard__right > div {
  width: 220px;
}

.leftchat__chatcard__right__row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.leftchat__chatcard__right__row2 > span {
  font-size: 13px;
  font-weight: 600;
  color: #9db2bf;
}
.leftchat__chatcard__right__row3 > span {
  font-size: 13px;
  font-weight: 600;
  color: #ff6000;
  border-radius: 10px;
  background-color: rgba(254, 235, 200, 1);
  padding: 2px 7px;
  margin-right: 8px;
  cursor: pointer;
}

.leftchat__chatcard__right__row1__time {
  font-size: 13px;
  font-weight: 600;
  color: #9db2bf;
}
.leftchat__chatcard__right__row1__name {
  font-weight: bolder;
}

/* Settings */

.Settings__categories__container {
  display: flex;
  flex-direction: column;
}

.Settings__categories {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.Settings__categories__heading {
  font-size: 1rem;
  padding: 6px 3px;
  font-weight: 600;
}

.Settings__subCategories__container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 15rem;
}

.Settings__subCategories {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Settings__subCategories:hover {
  background-color: #d8d8e2;
  transition: 400ms;
  border-radius: 5px;
}

.Settings__subCategories__image {
  padding: 1px 20px;
  font-weight: 300;
  font-size: 28px;
}

.Settings__subCategories__text {
  font-size: 15px;
  font-weight: 500;
}

.members__grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  column-gap: 5px;
  row-gap: 5px;
}

.group__members__listelement {
  background-color: #e3dffd;
  padding: 3px 8px;
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
}
.create__group__btn {
  margin-top: 20px !important;
}

.create__group__btn{
    margin-top: 20px !important;
}

.leftchat__bottom{
    height: 37.5rem;
    overflow: hidden;
}

#isGroup{
    background-color: #E3DFFD;
}
.bottomList{
    padding-top: 0;
    height: 520px;
    overflow-y: scroll;
}

.leftchat__avatar__intitials{
    font-size: 2rem;
    font-weight: 540;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.leftchat__chatcard__left{
    display: flex;
    justify-content: center;
    align-items: center;
}

