.middlechat__outer{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   justify-content: space-between;
   padding-bottom: 20px;

}

.middlechat__top{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #F5F5F5;
}

.middlechat__top__left__userInfo{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.middlechat__top__left{
    display: flex;
}
.middlechat__top__left__userInfo__status{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.middlechat__top__left__userInfo__status__icon{
    font-size: 8.5px;
    margin-right: 8px;
}

.middlechat__top__left__userInfo__status__text{
    font-size: small;
    font-weight: 650;
    color: gray;
}

.middlechat__top__left__avatar{
    height: 52px;
    width: 52px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-right: 13px;
}

.middlechat__top__left__userInfo__name{
    font-weight: bold;
    font-size: 1.5rem;
}

.middlechat__top__right{
    display: flex;
    align-items: center;
}
.middlechat__top__right>button{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: #E3DFFD;
}
.callIcon{
    font-size: 20px;
    font-weight: bolder;
    color: #615EF0;
    margin-right: 6px;
}
.middlechat__top__right__span{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #615EF0;
}
.middlechat__bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
}
.middlechat__bottom__right{
    display: flex;
    align-items: center;
    height: 100%;
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    padding: 5px 10px;
}
.middlechat__bottom__right>input{
    width: 590px;
    height: 100%;
    border: none;
    
}

.attachmentIcon{
    transform: rotate(-40deg);
    margin-right: 20px;
}

.middlechat__middle{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.middlechat__you{
    color: yellow;
}
.middlechat__other{
    color: green;
}