.Navbar__outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 3rem;
  padding-right: 6rem;
  background-image: linear-gradient(#00c1ff, #00c1ff, transparent);
}

.Navbar__list {
  display: flex;
  padding: 10px;
  list-style: none;
}

.Navbar__list a {
  margin-left: 20px;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  color: white;
  text-decoration: none;
  height: 25px;
  display: flex;
  align-items: center;
}



.Navbar__list .Navbar_button {
  margin-left: 20px;
  color: #44a9f2;
  font-weight: 500;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.Navbar__list > .Navbar_button:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #44a9f2;
  color: white;
}
#home {
  margin-left: 0;
}
#login-signup-button {
  margin: 0;
}
