.Navbar__outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 3rem;
    margin-right: 6rem;
}

.Navbar__list{
    display: flex;
    padding: 10px;
    list-style: none;
}

.Navbar__list>li{
    margin-left: 20px;
    padding: 5px 15px;
}

.Navbar__list>.Navbar_button{
    margin-left: 20px;
    background-color: white;
    border-radius: 25px;
    font: #44A9F2;
    
    
}