.chat__outer {
  height: 100%;
  position: relative;
}

.chat__sidebar {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 12px;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.chat__sidebar__top {
  display: flex;
  flex-direction: column;
}

.chat__sidebar__top > div > span {
  padding: 7px 7px;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 8px;
}

.chat__sidebar__top > div {
  padding: 10px 5px;
}

.chat__sidebar__top > div > span:hover {
  background-color: #f2f2f2;
}

.chat__sidebar__bottom {
  margin-bottom: 30px;
}
.chat__sidebar__bottom > span {
  padding: 9px;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 8px;
}
.active {
  color: #615ef0;
  background-color: #f2f2f2;
  transform: scale(1.1);
  transition: 200ms;
}
.avatar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 30px;
  background-color: #615ef0;
  width: 70%;
  padding: 7px 7px;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 8px;
}
.notification__number {
  font-family: serif;
  font-weight: bolder;
  font-size: 16px;
  position: absolute;
  text-shadow: 0 0 2px red;
}
