.chat__sidebar{
    position: fixed;
    bottom: 0;
    top: 0;
    height: 100vh;

}


.chat__sidebar__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    height: 100%;
    padding: 12px;
}

.chat__sidebar__top{
    position: relative;
    bottom: 130px;

}
.chat__sidebar__bottom{
    position: relative;
    top: 100px;
}
#chat__sidebar__avatar{

    margin-bottom: 14  0px;
}
.chat__sidebar__middleicons{
    margin-top: 12px;
}

.chat__sidebar>ul>div>li > span{
    font-weight: 340;
}