.chat__outer{
    height: 100%;
    position: relative;
}

.chat__sidebar{
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.chat__sidebar__top{
    display: flex;
    flex-direction: column;
}

.chat__sidebar__top>span{
    margin-top: 19px;
    padding: 15px;
    font-size: 1.9rem;
}
.chat__sidebar__bottom{
    margin-bottom: 30px;
}
.chat__sidebar__bottom>span{
    padding: 9px;
    font-size: 1.9rem;
    
}
.avatar{
    color: white;
    font-weight: 310;
   margin-bottom: 30px;
   border-radius: 14px;
    background-color: #615EF0;
}